<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <style>
        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        ul {
            list-style-type: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        a {
            text-decoration: none;
            color: black;
        }
        .card {
            width: 500px;
            border: solid 1px black;
            border-radius: 6px;
            box-shadow: 2px 3px black;
            margin-bottom: 15px;
            padding: 15px;
        }
        /* h2 タイトル */
        .card :nth-child(1) {
            margin: 7px 0;
            padding-left: 5px;
            border-left: solid 3px black;
        }
        /* p キャプション */
        .card :nth-child(2) {
            padding: 3px 0 10px 0;
        }
        /* p 使用技術 */
        .card :nth-child(3) {
            padding-bottom: 3px;
        }
        /* span スキルタグ */
        .card :nth-child(n+4){
            border: solid 1px #666666;
            border-radius: 10px;
            margin-right: 5px;
            padding: 3px 6px;
        }
    </style>

    <h1>プロジェクトに参加しよう</h1>
    <ul>
        <% for(let i = 0; i < projects.length; i++) { %>
            <li>
                <a href="/project/<%= projects[i]._id %>">
                    <div class="card">
                        <h2><%= projects[i].name %></h2>
                        <p><%= projects[i].caption %></p>
                        <p>使用技術</p>
                        <% for(let j=0; j < projects[i].skill.length; j++) { %>
                            <span>
                                <%= projects[i].skill[j] %>
                            </span>
                        <% } %>
                    </div>
                </a>
            </li>
            <% } %>

    </ul>
</body>

</html>